.update-header {
	margin-bottom: 100px;
}

.update-content {
	margin-bottom: 150px;
	flex: 1 1 auto;
}

.update-title {
	margin-bottom: 30px;
}

.form-update {
	margin: 0 auto 30px;
}

.form-update-button {
	text-align: center;
}

.form-button-update {
	padding: 12px 17px;
}
